@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Pacifico&display=swap');


* {
    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
}

@keyframes surgirScroll {
    from {
        transform: translateY(80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


section:not(#produtos) {
    animation: surgirScroll linear;
    animation-timeline: view();
    animation-duration: 0.5s;
    animation-range: entry 0% cover 25%;
}


#produtos {
    font-family: 'Fuzzy Bubbles', sans-serif;
}

#sobre {
    font-family: 'Fuzzy Bubbles', sans-serif;
}

#produtos h2 {
    font-family: 'Fuzzy Bubbles', sans-serif;
    text-align: center;
    padding: 32px;
    background-color: #f3bfd3;
}

h2 {
    font-family: 'Fuzzy Bubbles', sans-serif;
}

header {
    font-family: 'Pacifico', cursive, sans-serif;
    color: rgb(129, 97, 9);
}

body {
    font-family: 'Fuzzy Bubbles', sans-serif;
}

header {
    background-color: #ffe5ec;
    text-align: center;
    padding: 20px;
}

.navbar.fixed-top {
    background-color: #ffc8dd;
    position: sticky;
    top: 0;
    z-index: 1030;
    width: 100%;
}



h3 {
    padding: 32px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 16px 0;
}

nav a {
    color: #694b13;
    font-weight: bold;
}


section {
    min-height: 100vh;
    padding: 32px 0;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin-top: 32px;
}

.produto h3 {
    text-align: center;
}

.produto {
    max-width: 250px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

#sobreAloja {
    text-align: center;
}

.sobre img {
    max-width: 95%;
    align-self: center;
    border-radius: 10px;

}

section h3 {
    font-family: 'fuzzy bubbles', sans-serif;
    text-align: center;
}

section form {
    font-family: 'Fuzzy Bubbles', sans-serif;
    background-color: #f3bfd3;
    padding: 10px;
    gap: 20px;
    border-color: #f297ba;
}

section input {
    border: 2px solid #f297ba;
    background-color: #f7d8e4;
    outline: none;
}

section input,
section label,
section textarea,
section select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.formgrid {
    display: grid;
    border-color: #f297ba;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding-right: 90px;
}

.formgrid img {
    width: 80%;
    height: 70%;
    padding-left: 50px;
}

.formgrid div {
    display: flex;
    flex-direction: column;

}

@media (max-width: 768px) {
    .formgrid {
        grid-template-columns: 1fr;
    }
}

.carousel {
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    min-height: 300px;
    padding-bottom: 35px;
}

.carousel-inner {
    border-radius: 12px;
    overflow: hidden;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#car-produtos {
    padding: 12px;
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 25%;
    transform: translateY(-2%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 80%;
}



.table-striped {
    margin-top: 20px;
}

#painel {
    padding: 2px;
    text-align: center;
}

h2 {
    padding: 32px
}

.painel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
    width: 70%;
    margin: 0 auto;
}

.painel-img {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .painel-grid {
        width: 95%;
        grid-template-columns: 1fr 1fr;
    }
}

.quadro {
    position: relative;
    width: 90vw;
    height: 30vh;
    border: 4px solid #b48e8e;
    border-radius: 16px;
    overflow: hidden;
    background-color: #fff0f5;

}

#animacao {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.novelo {
    position: absolute;
    width: 8vw;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    animation: moverNovelo 5s linear infinite;
    z-index: 1;
}


.gato-persegue {
    position: absolute;
    width: 10vw;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    animation: moverGato 5s linear infinite;
}

.gato-persegue img {
    width: 10vw;
    height: auto;
}


@keyframes moverNovelo {
    0% {
        left: -10vw;
    }

    100% {
        left: 90vw;
    }
}


@keyframes moverGato {
    0% {
        left: -20vw;
    }

    100% {
        left: 80vw;
    }
}

.produto {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(255, 174, 200, 0.5);
}


footer {
    text-align: center;
    background-color: #f8f8f8;
    padding: 16px;
    font-size: 14.4px;
    color: #000;
}

footer a {
    color: #000;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}